# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

logs
vendor
.idea
.vscode

*.db
*.exe
*.prof
*.pyc
*.bks
*.key
*.pem
*.p12
*.exe~
*.store

*.yml
*.yaml
monolith